.right {
    float: right;
    margin: 10px;
    clear: right;
}

.left {
    float: left;
    margin: 10px;
    clear: left;
}

.commenter {
    float: left;
    margin-right: 20px;
    clear: left;
    margin-top: -2px;
}

button {
    float: left;
    width: 25%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

input[type="search"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 75%;
  background: #f1f1f1;
}

.search-clear {
    font-size: 12pt;
    color: blue;
    padding-top: 20px;
}