.right {
    float: right;
    margin: 10px;
    clear: right;
}

.left {
    float: left;
    margin: 10px;
    clear: left;
}

.commenter {
    float: left;
    margin-right: 20px;
    clear: left;
    margin-top: -2px;
}