{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}

{{ printf "<!-- This is a custom built search page built on Lunrjs. First, an index is created with the build-lunrjs-index.sh script by running generate.sh in the Git directory. Then, this page takes the index and searches for the proper results using Lunrjs. Results are then displayed in the same form as a general list page, matching the theme of the website. -->" | safeHTML }}

<h2>Search</h2>

<div class="search-input-wrap">
  <form id="search-form" method="get" action="">
	  <p><input id="search" name="q" type="search" /></p>
	  <button id="search-button" type="submit" class="button">Search</button>
  </form>
</div>
<div class="search-clear">
  <p><a class="search-clear" href="/search/">Clear Search</a></p>
</div>
<div id="app-search" class="row listrecent"></div>

<script src="https://unpkg.com/lunr/lunr.js"></script>

<!-- Generate a list of posts so we can display them -->

{{ $p := slice }}
{{ range ( .Site.RegularPages ) }}
  {{ $imageurl := (.Params.Image | urlize | relURL ) }}
    {{ if .Params.Resources }}
      {{ $superinitialimagereduced := ( .Resources.GetMatch "preview" ) }}
      {{ $initialimagereduced := ( $superinitialimagereduced.Resize "512x" ) }}
      {{ $imagereduced := $initialimagereduced.RelPermalink }}
      {{ $post := dict "link" .RelPermalink "title" .Title "author" .Params.Author  "authorurlized" ( .Params.Author | urlize ) "date" (dateFormat "Jan 2, 2006" .PublishDate) "image" ( $imagereduced ) "content" (substr .Plain 0 250) -}}
      {{ $p = $p | append $post -}}
    {{ else }}
        {{ $imagereduced := $imageurl }}
        {{ $post := dict "link" .RelPermalink "title" .Title "author" .Params.Author "authorurlized" ( .Params.Author | urlize ) "date" (dateFormat "Jan 2, 2006" .PublishDate) "image" ( $imagereduced ) "content" (substr .Plain 0 250) -}}
        {{ $p = $p | append $post -}}
    {{ end }}
{{ end }}


<script>

const posts = JSON.parse(
  {{ $p | jsonify }}
);
const query = new URLSearchParams(window.location.search);
const searchString = query.get('q');
document.querySelector('#search').value = searchString;
const $target = document.querySelector('#app-search');

// Our index uses title as a reference
const postsByTitle = posts.reduce((acc, curr) => {
  acc[curr.title] = curr;
  return acc;
}, {});

fetch('/gen/search-index.json').then(function (res) {
  return res.json();
}).then(function (data) {
  const index = lunr.Index.load(data);
  const matches = index.search(searchString);
  const matchPosts = [];
  matches.forEach((m) => {
    matchPosts.push(postsByTitle[m.ref]);
  });

  if (matchPosts.length > 0) {
    $target.innerHTML = matchPosts.map(p => {
	    return `<br><div class="col-lg-4 col-md-6 mb-30px card-group">
          <div class="list__item post">
              <div class="maxthumb">
                  <a href="${p.link}">
                        <img class="img-fluid" src="${p.image}" onerror="this.style.display='none'" alt="Thumbnail image">
                  </a>
              </div>
              <div class="card-body">
                  <h2 class="card-title"><a class="text-dark" href="${p.link}">${p.title}</a></h2>
                  <p class="card-text">${p.content} <a class="list__footer-readmore btn" href="${p.link}">Read more…</a> </p>
              </div>
              <div class="card-footer bg-white">
                  <div class="wrapfooter">
                      <span class="post-date">${p.date}</span>
                      </span>
                      <div class="clearfix"></div>
                  </div>
              </div>
          </div>
      </div>`;


    }).join('');
  } else {
    $target.innerHTML = `<div>No search results found.</div>`;
  }
});


</script>


{{end}}



{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}